<div class="row noPadding item-margin-bottom-15px responsive-sm">
	<div class="col col-50 noPadding">
		<label class="item item-input my-item-input">
		  <input type="text" ng-model="childScopeUsrName" class="usrname" placeholder="客户姓名">
		</label>
	</div>
	<div class="col col-50 noPadding padding-left-15px">
		<div class="row noPadding">
			<div class="col col-50 noPadding">
				<div class="row noPadding">
					<div class="col noPadding">
						<div class="list" style="margin-right:5px;">
						  <label class="item item-radio border-none">
						    <input type="radio" ng-model="childScopeSex" value="男">
						    <div class="my-item-content border-red-1px">
						      男
						    </div>
						  </label>
						</div>
					</div>
					<div class="col noPadding" style="margin-left:5px;">
						<div class="list">
						  <label class="item item-radio border-none">
						    <input type="radio" ng-model="childScopeSex" value="女">
						    <div class="my-item-content border-red-1px">
						      女
						    </div>
						  </label>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
