<ion-view title="全部客户" class="customer_list">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon icon-white"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <a class="button button-icon icon ion-ios-plus-outline icon-white" ng-click="commonModule.goAddCustomForm()"></a>
  </ion-nav-buttons>  
  <div ng-controller="MyCustomerListCtrl">
    <div class="seachCustomBox-phone {{searchStyle}}">
      <form ng-submit="MyCustomerListCtrlModule.fn.searchUsrFn()">
        <input type="text" ng-model="MyCustomerListCtrlModule.data.keyWord" ng-blur="MyCustomerListCtrlModule.fn.searchUsrFn()"/>
        <div class="searchCustomReminder" ng-show="!MyCustomerListCtrlModule.data.keyWord.length">          
          <span>搜索</span>
        </div>
        <i class="icon ion-search placeholder-icon" ng-click="MyCustomerListCtrlModule.fn.searchUsrFn()"></i>
      </form>
    </div>
    <ion-content class="has-header  middle-list">
      <div class="list main_list" style="padding-top:44px;">
        <div ng-show="!CustomerLists.length" class="searchEmpty">暂无客户</div>
        <a class="item item-thumbnail-left"
           ng-repeat="CustomerList in CustomerLists" 
           href="#/app/CustomerMain/usrDetailJump/{{CustomerList.ID}}">
           <div class="items_box">
              <img class="customIcon" ng-src="{{(CustomerList.ICON && MyCustomerListCtrlModule.connection)?CustomerList.ICON:'img/spengler.jpg'}}">
                <h2>{{CustomerList.REAL_NAME | showNoNum}}</h2>
                <p>{{CustomerList.HOME_CITY | showNoNum}}</p>
                <p>{{CustomerList.SEX==0 ?'男':'女' }}</p>
                <p>{{CustomerList.MOBILE | showNoNum}}</p>
           </div>     
        </a>
      </div>
    </ion-content>
  </div>  
</ion-view>
