<!--AppCtrl-->
<ion-side-menus>
  
  <!--右侧导航-->
  <ion-pane ion-side-menu-content>
    <ion-nav-bar id="bar" class="bar-stable nav-title-slide-ios7 background-red font-color-white">
      <ion-nav-back-button ng-click="commonModule.toBack()" class="button-clear font-color-white"><i class="icon ion-chevron-left icon-white"></i>返回</ion-nav-back-button>
    </ion-nav-bar>
    <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
  </ion-pane>

  <!--左侧导航-->
  <ion-side-menu side="left" width="100" class="menunav">
    <ion-header-bar class="bar-myapp" ng-click="commonModule.gohomeFun()">
      <div class="exit-app">
        <div class="exit-app-innerbox">
          <!-- <i class="out_icon ion-android-arrow-back"></i> -->
          <i class="go-home-page"></i>
          回到首页
        </div>
      </div>
    </ion-header-bar>

    <ion-content>
      <ion-list>
        <ion-item nav-clear menu-close ng-click="commonModule.toUsrManage('localCustomer')" class="my-item activated">
          <i class="customerlabel ion-person"></i>
          全部客户
        </ion-item>
        <ion-item nav-clear menu-close ng-click="commonModule.toUsrManage('syncCustomer')" class="my-item">
          <i class="customerlabel ion-ios-pricetags"></i>
          同步客户
        </ion-item>
        <ion-item nav-clear menu-close class="my-item" ng-show="false">
          <i class="customerlabel ion-ios-pricetags"></i>
          客户标签
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>

</ion-side-menus>
